<!doctype html>

<html>

<head>

<title>朝陽MIT計畫</title>
<meta charset=utf-8>

</head>

<!-- head -->

<body>

<div id=wrapper>

<header>

<h1><a href="{% url 'main:main' %}">朝陽MIT資訊創新服務計畫</a></h1>
<p>登入</p>

</header>

<!-- header -->

<nav>

{% include 'main/menu.html' %}

</nav>

<!-- nav -->

<aside>

<h3>最新消息</h3>
<li>MIT創新服務網正式啟用</li>
<li>0811舉辦『縮短學用落差論壇』</li>

</aside>

<!-- aside -->

<div id=content>
<h3>師資能量</h3>
<table border="1">
  <tr>
    <th>教師名字</th>
    <th>科系</th>
    <th>專長</th>
  </tr>
  <tr>
    <td>李麗華</td>
    <td>資訊學院</td>
    <td>行動商務， 電子商務， 類神經網路應用， 網路推薦</td>
  </tr>
  <tr>
    <td>林坤偉</td>
    <td>資訊學院</td>
    <td>類比積體電路設計， 數位積體電路設計， 感測晶片設計， 半導體氣體感測器模型建立， 半導體式氣體感測器之設計與製造， 半導體模擬分析(SILVACO、MEDICI、ISETCAD)， 半導體元件物理</td>
  </tr>
  <tr>
    <td>林傳筆</td>
    <td>資通系</td>
    <td>路由協定， 大型高速網路交換器， 電腦網路工程</td>
  </tr>
  <tr>
    <td>彭俊澄</td>
    <td>資通系</td>
    <td>人工智慧應用， 演化計算， 資訊安全， 圖樣辨識， 古典最佳化， 非單調學習， 遞迴類神經網路</td>
  </tr>
  <tr>
    <td>廖俊鑑</td>
    <td>資通系</td>
    <td>數位影像訊號處理， 無線通訊， 無線控制系統</td>
  </tr>
  <tr>
    <td>洪若偉</td>
    <td>資工系</td>
    <td>智慧型裝置應用， 嵌入式Linux， 無線感測網路， 圖形理論， 演算法</td>
  </tr>
  <tr>
    <td>廖珗洲</td>
    <td>資工系</td>
    <td>軟體工程， 行動計算， 影像處理， 電腦視覺， 位置感知計算， 普及計算</td>
  </tr>
  <tr>
    <td>曾顯文</td>
    <td>資管系</td>
    <td>電腦繪圖/影像處理/工程製圖， 資料壓縮， 資訊隱藏</td>
  </tr>
  <tr>
    <td>唐元亮</td>
    <td>資管系</td>
    <td>Cloud computing， JavaScript， CSS3， HTML5， Django， Python， Google APP Engine</td>
  </tr>

</table>

</div>

<!-- cotent -->

<footer>

<p>朝陽科技大學&nbsp;資訊學院朝陽&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIT資訊創新服務計畫</p>
<p>電話:04-23323000&nbsp;&nbsp;分機號碼&nbsp;7707&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傳真:04-23304920</p>
<p>地址:台中市霧峰區吉峰東路186號</p>
 
</footer>

</div> 

<!-- wrapper -->

</body>

</html>