<!doctype html>

<html>

<head>

<title>朝陽MIT計畫</title>
<meta charset=utf-8>

</head>

<!-- head -->

<body>

<div id=wrapper>

<header>

<h1><a href="{% url 'main:main' %}">朝陽MIT資訊創新服務計畫</a></h1>
<p>登入</p>

</header>

<!-- header -->

<nav>

{% include 'main/menu.html' %}

</nav>

<!-- nav -->

<aside>

<h3>最新消息</h3>
<li>MIT創新服務網正式啟用</li>
<li>0811舉辦『縮短學用落差論壇』</li>

</aside>

<!-- aside -->

<div id=content>
<h3>國際合作</h3>


</div>

<!-- cotent -->

<footer>

<p>朝陽科技大學&nbsp;資訊學院朝陽&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIT資訊創新服務計畫</p>
<p>電話:04-23323000&nbsp;&nbsp;分機號碼&nbsp;7707&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傳真:04-23304920</p>
<p>地址:台中市霧峰區吉峰東路186號</p>
 
</footer>

</div> 

<!-- wrapper -->

</body>

</html>